.navbar {
  flex-direction: column;
  align-items: stretch;
  background-color: white;
}

.side-menu .list-group-item {

  border: none;

}

.card {
  max-width: 14em;
}

.link.colored#toggler-qualite-air {
  background-color: red;
}


.link.colored#toggler-confort-thermique {
  background-color: blue;
}

